* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --dark-blue: #09192F;
  --green: #60CAB7;
}

img {
  max-width: 100%;
  display: block;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue);
  font-family: Lato, sans-serif;
}

#dark {
  background-color: #09192F;
}

#light {
  background-color: #d2fff7;
}

#dark .country-card {
  background-color: #122135;
}

#light .country-card {
  background-color: #88c1b7;
}

.btn {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  position: absolute;
}

#dark .input-form{
  background-color: #09192F;
}

#light .input-form{
  background-color: #d2fff7;
}

#light .navbar{
  background-color: #d2fff7;
  color: #09192F;
}

#light input::placeholder {
  color: #09192F;
}

#light input {
  background-color: #d2fff7;
  border: 1px solid #09192F;
}

#light #continent {
  background-color: #d2fff7;
  border: 1px solid #09192F;
  color: #09192F;
}